*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

.project
.classpath
/fakeit/bin
.settings
/fakeit/gen
/fakeit/target
/fakeit/test/junit
/fakeit/test/test-reports/
*.bin
*.apk
.idea
/build/
/fakeit/build/
/facebook/